header {border: 20px solid sandybrown; padding-left:30px; margin-left: 50px;}
.image { border: 2px; z-index: -1; background-color: rgb(142, 205, 152);}
ul>li{display: inline; margin: 170px;}
table>th{border: 0ch; margin: 30px;}