.hami{
     
    border: solid blue;
    background-color: red;
    height: 34px;
    margin-left: 400px;
    margin top: 400px;
    padding: 1px;
}
/* *{background-color: black; color: rgb(14, 136, 243);}
body{background-color: palegreen;} */